

/* ==========================================================================
Author's custom styles
========================================================================== */


#verMasClass:link {


	color: #00F;


	font-size: 20px;


}


#verMasClass:visited {


	color: #00F;


	font-size: 20px;


}


#PartesLista {


	font-size: 20px;


}


#canvas_container {


	width: 90%;


	height: 675px;


	border: 1px solid #aaa;


}


svg {


	height: 100%;


	width: 100%;


}