h2, #downP {
    color:#c0c0c0;
}

#logo {
    background-image: url(codeandoMex.png);
    background-color: transparent;
    background-repeat: no-repeat;
    margin-left: 10px;

}

#downP {
    min-height: 100px;
}

h2{
    min-height: 70px;
    text-align: center;
}

h2:hover {
    color:red;
}

hoverStyle:hover{
    color:white;
}

ul#menu {
    padding:0;
}

table {
    table-layout: fixed;
    width:100%;
}

td, th {
    max-width: 500px;
    width:100%;
}